.all-questions{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}
.all-questions-cointainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.all-questions-left{
    display: flex;
    margin-right: 30px;
}
.all-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0,0,0,0.7);
    font-size: small;
}
.all-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.all-option >p{
    font-size: large;
}
.question-answer{
    display: flex;
    flex-direction: column;
    width:100%;
}
.question-answer >a{
    color: #0151f0d8;
    font:1.5rem;
    margin-bottom: 10px;
}